.App {
  text-align: center;
}

.App-header {
  background-color: #077718;
  padding: 10px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 3.0em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 30px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
